# Standart Veri Tipleri
* [python.org](www.python.org) ile link
* ![PythonLogo](https://www.python.org/static/img/python-logo.png)
![alt text](helper/PythonVeriTipleri.png)

## Değişken Tanımlama

In [3]:
#pyhthon dynamic type özelliğine sahiptir.
degisken = 1
degisken = "metin"

#
type(degisken) #nesnenin tipini öğrenmek için

str

In [4]:
#zincir yönetmi
x = y = 1

print(x)
print(y)

1
1

## Standart Tipleri Keşfedelim
### 1.Primitive Types
#### Numeric

In [13]:
i = 1 #int(1)
f = 1.23 #float(1.23)
c = 3+4j #complex(3,4) #real imagein kısmını vermiş oluruz.

type(i)

int

#### Bool

In [14]:
b = True #bool(True) veya False

type(b)

bool

#### NoneType

In [9]:
type(None) #None nonetypedir. NA, NaN, NaT vs. şeklinde görülebilir.

NoneType

### 2.Container Types
#### Sequence Tipler:
* Sıralıdır. Elemanlarına sıra numarası ile erişlebilir

##### str
* karakterlerden oluşur.
* ",' veya bunlardan 3'er tanesi ile tanımalanbilir.

In [ ]:
metin = "merhaba dünyalı" #çift
metin = 'merhaba'         #tek
metin = """SELECT
    kol1,
    kol2,
    kol3
FROM Tablo
"""
#başa sona 3'er tırnak çoklu satır yazmamızı sağlar.

print(metin)

SELECT
    kol1,
    kol2,
    kol3
FROM Tablo

##### tuple
* Farklı tipten elemanlar tutabilir.
* Elemanları değiştirilemez. Eleman ekleyip çıkarılamaz. yani **immutable** tiptir.

In [15]:
t = (1,2,3,False,True, "metin")
t = 1,2,3,False,True, "metin" #aleternatif tuple tanımlanır.

#### List
* Elemanları güncellenebilir. mutable tiptir.

In [ ]:
l = [1,2,3,False,True,"metin"]
l

[1, 2, 3, False, True, 'meitn']

##### Sequnce elemankarına erişmek
* index:
  * `nesne[siraNumarası]`
  * index yani sıra numarası 0'dan başlar
  * negatif değer geçerlidir. tersine, tersten, sondan.
* slicer:
  * `nesne[start : stop : step]`
  * start: başlangıç. varsayılan 0 yani baştan
  * stop : bitiş. varsayılan en sondır.
  * spte : atlama. varsayılan 1

In [ ]:
#index yöntemi
l = [10,20,30,40,50,"metin"]
l[0] #0. indexteki

 
#
l[-1] #son index
l[-3] #sondan 3.

40

In [ ]:
#slicer yöntemi
l[::] #varsayılan değerlerini alır. en baştan en sona 1'er adımla gelr.

#
l[1:4:2] #1. indexten 4. indexe 2 adımda bir getir.

#
l[:3] #ilk 3 tanesini getir

#step -1
l[::-1] #listeyi tersten getirir.

['metin', 50, 40, 30, 20, 10]

In [26]:
m = "metin"

m[-1] #son karakter
#print(m[-1])

'n'

In [32]:
# tuple değiştirilemezdir.
l[0] #10
l[0] = 100

#
l #liste mutable yani güncellenebilir.


#
t
t[0] #1
#t[0] = "hata verir!!!" #TypeError tuple immutable oduğu için eleman atadığızda hata verir.

1

#### Set types
##### set ve frozenset
* set mutabledir.
  * elemanları immutable olmak zorunda
  * benzersiz eleman tutar.
  * matematikteki küme işlemini destekler
* frozenset immutabledır.

In [35]:
s = {0,1,2,3,3,0} #tekil tutar.
s

{0, 1, 2, 3}

In [43]:
s = {0,1,True,False,"metin","metin"}
#pythondaki genel varsayım şöyle:
#0,None,boş containerlar genelde False olarka değerlendirilir. Diğerleri True olur.
#Burada 0 False, 1 True olarak kabul edildi ve tekilleştirildi.
s

{0, 1, 'metin'}

#### Mapping
##### dict
* key:value şeklinde tutar.
* elemanlara keylerle erişir.
  * keyler immutable olmalıdır.

In [46]:
#unhashable type: 'list' ile immutable verilmesi gerek yere mutable tip verildi.
personel = {
            "ad":"Abdullah",
            "soyad":"Kise",
            "Telefon":["123-31","12314-3453"],
            "AktifMi":True,
            #[2025,"Maaş"]: 13213.34 #list mutabledir.
            (2025,"Maaş"): 13213.34 #tuple immutabled
}

In [47]:
personel

{'ad': 'Abdullah',
 'soyad': 'Kise',
 'Telefon': ['123-31', '12314-3453'],
 'AktifMi': True,
 (2025, 'Maaş'): 13213.34}

### Dict tipinin elemanlarına erişmek
* `nesne[Key]`
* `nesne.get(key)` #eğer key yoksa hata vermez. istenilen değer basılabilir.

In [50]:
personel["ad"]
personel["Telefon"] #['123-31', '12314-3453']

#
personel["Telefon"][-1] #listeinin son elemanıa erişiriz.

'12314-3453'

In [55]:
#personel["olmayanKey"] #hata veirr.
personel.get("olmayanKey")
personel.get("olmayanKey", "Böyle bir key yok") #ikinci parametre None gelirse dönecek değerdir.

'Böyle bir key yok'

In [ ]:
personel.keys() #dict_keys(['ad', 'soyad', 'Telefon', 'AktifMi', (2025, 'Maaş')])
personel.values() #dict_values(['Abdullah', 'Kise', ['123-31', '12314-3453'], True, 13213.34])

#
personel.items() #(key,value) tuple ikilileri şeklinde getirir.

dict_items([('ad', 'Abdullah'), ('soyad', 'Kise'), ('Telefon', ['123-31', '12314-3453']), ('AktifMi', True), ((2025, 'Maaş'), 13213.34)])

## Tiplere Ait Bazı Fonksiyonlar

### str

In [ ]:

dir(str)

#
m = "_mErHAba dünYAli_"

#iki farklı kullanım da mevcut.
m.upper()
str.upper(m)

#
m.strip("_") #belirtilen karakteri baştan ve sondan temizler.

#
m.strip("_").title() #her kelimenin ilk harfi büyük
str.title(m.strip("_"))

#
m.center(30) #30 karakter içerisine ortala
m.center(30,"/")#kalan karakteri / yap

#
"2025".isnumeric() #karakteleri sayı mı?
"pil@v".isalpha()  #karakter alfabede mevcut mu? @ mevcut değil.

#
m = "Abdullah Kise"
m.split() #varsayılan space'e göre parçalar bir liste döner.

#
";".join(["Ali","Uçan"])#str liste elemanlarını bir metin(;) ile birleştirir.

'Ali;Uçan'

In [ ]:
ad = "Ali"
maas = 1231.49

#{} placeholder içerisine sırayla değerler gelir.
fmt = "Ad:{}   Maaş:{}".format(ad,maas)

#f string yöntemi metnin başında f var. placeholder içerisinde değişkenler kullanılır.
fmt = f"Ad:{ad}   Maaş:{maas}"

print(fmt)

Ad:Ali   Maaş:1231.49

### list

In [88]:
dir(list)
"""
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'
"""

l = [0,1,2,3]

#
l.append(10) #olduğu gibi tek bir eleman olarak ekler
l.append((100,200))

#contaimer elemanlarını açarak tek tek eklesin.
l.extend((1000,1001,1002))

#
l.reverse() #listeyi ters çevirir.
#l.sort() #içinde tuple var. sıralama kuralı belirtmemiz lazım.

#
l.remove((100,200)) #append tersidir. siler.

#
l.insert(0, -99) #0.indexe -99 ekler.

#
l

[-99, 1002, 1001, 1000, 10, 3, 2, 1, 0]

### tuple

In [ ]:
dir(tuple)

#
t

#tüm containerda mevcut fonksiyonlardır.
t.count("metin") #belirtilen elemandan kaç tane var.
t.index("metin") #kaçıncı indexte
t[5]

'metin'

### Set

In [ ]:
dir(set)

#
a = {1,2,3,"dört"}
b = {3,4,5,6}

#
a.union(b) #tekilleştirerek elemanları birleştirir.
a | b #birleşim operatoru.

#
a.difference(b) #a'da olup b'de olmayan
a-b

#
a.intersection(b)#kesişim
a&b

{3}

### dict

In [ ]:
dir(dict)

#
#p.get()
#p.keys()
#p.values()
#p.items()

personel

#
personel["olmayanKey"] = "Bir değer" #yeni key value ekleriz.

#
personel

{'ad': 'Abdullah',
 'soyad': 'Kise',
 'Telefon': ['123-31', '12314-3453'],
 'AktifMi': True,
 (2025, 'Maaş'): 13213.34,
 'olmayanKey': 'Bir değer'}